/* Custom Property */

:root {

  --background-primary: #1F1F1F;
  --background-secondary: #2D2F31;

  --color: #f15a94;
  --color-secondary: #f15a94;
  --font-color: #e3e3e3;

  --border-color: #00000010;
}

/* reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  transition: background-color 1s;
}

span, strong, button, input, a {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2, h3 {
  color: var(--font-color);
  padding-bottom: 2em;
  font-weight: 400;
}

img {
  height: auto;
}

button {
  cursor: pointer;
}

input,
textarea { width: 100%; }

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--background-primary);
  color: var(--font-color);
  font-size: 12px;
  line-height: 1.8;
  overflow-x: hidden;
}


@media (min-width: 425px) {

  body {
    font-size: 16px;
  }

}