/* Contact */

.section.contact {
  min-height: 90vh;
}

.contact .container {
  padding: 0;
}

.contact-card {
  background-color: var(--background-secondary);
  padding: 50px 5px;
  border-radius: 16px;

  box-shadow: 16px 16px 16px var(--border-color);
}

.contact-card h2 {
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 15px;
  text-align: center;
}

.contact-card .wrapper div {
  margin-bottom: 32px;
}

.contact-card .wrapper p {
  text-align: center;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.contact-item-title {
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  padding-bottom: 2px;
}

.contact-item-link { transition: var(--transition-1); }

.contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }


@media (min-width: 768px) {

  .contact-card {
    padding: 30px 50px;
    border-radius: 32px;
  }
  
  .contact-card h2{
    font-size: 2.5rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
  }

  .contact-card .wrapper > div {
    margin-bottom: 0;
    width: 40%;
  }

  .contact-card .wrapper p {
    text-align: left;
  }

  .contact-item {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-align: left;
  }

}


@media (min-width: 1024px) {

  .contact-card h2 {
    font-size: 3rem;
  }

  .contact-form {
    padding-bottom: 0;
  }

}