.section.portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--font-color);
}

.project-card {
  display: flex;
  flex-direction: row;
}

.card-img {
  background-color: var(--background-secondary);
  border-radius: 8px 8px 0 0;
}

.card-img img {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.project-subtitle {
 font-size: 0.8em;
}


.project-topics {
  margin-top: 10px;
  text-align: right;
  font-size: 0.7em;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.project-topics li {
  background-color: var(--color);
  padding: 5px 10px;
  border-radius: 20px;
}

main .container {
  padding-top: 50px;
}


@media screen and (min-width: 768px) {
  .portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}