/* reused style */

.container {
  width: 100vw;
  padding: 0 20px;
}

.btn, .btn2, .btn-icon {
  color: #fff;
  max-width: max-content;
  padding: 8px 16px;
  height: 36px;
  min-width: 64px;
  font-size: 0.8em;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
}

.btn {
  background: var(--color-secondary);
}

.btn2 {
  background: none;
  color: var(--color);
  margin: 30px 0;
}

.btn2:hover {
  background-color: var(--background-secondary);
  transition: 0.1s;
}

.btn-icon {
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px 10px 12px;
}

.btn:hover, .btn-icon:hover {
  transition: 0.3s;
  opacity: 0.6;
}


.section {
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-subtitle {
  color: var(--color-secondary);
  margin-bottom: 16px;
}

.section-subtitle, .section-title {
  text-align: center;
}

ion-icon {
  color: var(--font-color);
  font-size: 4rem;
  z-index: 0;
}

@media screen and (min-width: 768px) {

  .container {
    padding: 0 50px;
  }

  
  .container {
    max-width: 1050px;
    margin: 0 auto;
  }

}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}