/* Home */

.home .container{
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-banner img {
  width: 200px;
}

.home-title {
  font-size: 2rem;
  padding-bottom: 20px;
  font-weight: 400;
}

.home-title strong {
  font-size: 3.5rem;
  color: var(--home-title-color);
}

.home-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.home-links ul li a{
  background-color: var(--home-links-background);
  border: var(--home-links-background);
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-links ul li a ion-icon {
  font-size: 1.2em; 
  color: var(--white-color);  
}


@media (min-width: 425px) {
  .home-links ul {
    flex-direction: row;
  }

  .home-banner img {
    width: 300px;
  }
}


@media (min-width: 768px) {

  .home .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
  }

}