.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--font-color);
}

.project-card {
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px var(--font-color);
}

.card-img {
  background-size: cover;
  width: 100%;
  max-height: 20vh;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

.card-content {
  padding: 20px;
}

.project-subtitle {
 font-size: 0.8em;
}


.project-language {
  margin-top: 10px;
  text-align: right;
}

main .container {
  padding-top: 105px;
}


@media screen and (min-width: 768px) {
  .portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}