/* Custom Property */

:root {

  --lightpurple: #CEB2EA;
  --green: #5DB43E;

  --section-padding: 60px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

button {
  cursor: pointer;
}

input,
textarea { width: 100%; }

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #241533;
  color: var(--lightpurple);
  font-size: 1.8rem;
  line-height: 1.8;
  overflow-x: hidden;
}

.btn {
  background: var(--green);
  color: #241533;
  max-width: max-content;
  padding: 10px 40px;
  font-size: 1.8rem;
  border-radius: 50px;
  border: 2px solid #6daa57;
}

.btn:hover {
  transition: 0.3s;
  opacity: 0.6;
}

.section {
  padding-block: var(--section-padding);
}

.section-subtitle {
  color: var(--green);
}

ion-icon {
  color: var(--lightpurple);
  font-size: 4rem;
}


/* Header */

header {
  position: fixed;
  padding-block: 15px;
  width: 100%;
  background: #29163c;
  overflow: hidden;
  box-shadow: 0 -5px 10px var(--lightpurple);
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 120px;
}

.navbar-list {
  font-size: 2rem;
}

.navbar-list li:is(:hover, :focus) {
  color: var(--green);
}



/* Contact */

.contact-card {
  background-color: #29163c;
  padding: 50px 40px;
  border-radius: 50px;
}

.contact-card h2 {
  font-weight: 400;
  font-size: 3rem;
  padding-bottom: 15px;
}

.contact-form {
  padding-bottom: 50px;
}

.contact-input {
  background-color: #CEB2EA05;
  color: white;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  border: 2px solid var(--lightpurple);
}

.contact-input::placeholder {
  color: inherit; 
}

textarea.contact-input {
  resize: vertical;
  min-height: 100px;
  height: 180px;
  max-height: 300px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-item:not(:last-child) { margin-block-end: 20px; }



.contact-item-title {
  color: white;
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.contact-item-link { transition: var(--transition-1); }

.contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }





@media (min-width: 600px) {

}


@media (min-width: 768px) {

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

}



@media (min-width: 992px) {

  .container {
    max-width: 1050px;
    margin: 0 auto;
  }


  /* Contact */

  .contact-card {
    padding: 100px;
  }

  .contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .contact-form {
    padding-bottom: 0;
  }

}